@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../fonts/Open_Sans/OpenSans-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(../fonts/Open_Sans/OpenSans-Semibold.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/Open_Sans/OpenSans-Bold.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(../fonts/Open_Sans/OpenSans-Italic.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(../fonts/Open_Sans/OpenSans-SemiboldItalic.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(../fonts/Open_Sans/OpenSans-BoldItalic.woff) format('woff');
}
@font-face {
  font-family: 'Rosarivo';
  font-style: normal;
  font-weight: 400;
  src: local('Rosarivo'), local('Rosarivo-Regular'), url(../fonts/Rosarivo/Rosarivo-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Rosarivo';
  font-style: italic;
  font-weight: 400;
  src: local('Rosarivo Italic'), local('Rosarivo-Italic'), url(../fonts/Rosarivo/Rosarivo-Italic.woff) format('woff');
}
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url(../fonts/Droid_Sans/DroidSans.woff) format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat'), local('Montserrat-Regular'), url(../fonts/Montserrat/Montserrat-Regular.woff) format('woff');
}

/* main menu on top of content */
#main-menu ul.ul-depth-0 li a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
